<!DOCTYPE html>
<html>
  <head>
    <title>JsLoad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller='<%= controller_name.titleize -%>' data-action='<%= action_name.titleize -%>'>
    <%= yield %>
  </body>

  <script>
    $(document).ready(function(){ AutoLoad.Config.setup() });
  </script>
</html>
